div{
    border: 5px ridge goldenrod;
    background-color: rgb(170, 3, 3);
    text-align: center;
    height: 400px;
    -webkit-mask: radial-gradient(30px,#0000 98%,#000) 10000% 10000%/99.5% 99.5%;
    height: 100px;
    width: 500px;

}

p{
    color: aliceblue;
}